<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png" />
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>I am a Computer Science student, currently on the last period of college. Front-end developement 
                is not something I really like, so thats why this website looks kinda meh.
            </p>
            <p>This site was created as one of the projects of the Node.js course I am currently taking.</p>
            <p>This website was created by Anthony Reis. It uses data from the APIs of mapbox.com and weatherstack.com</p>
            <img class="portrait" src="/img/perfil.jpeg">
        </div>
        
        {{>footer}}
    </body>
</html>